<!DOCTYPE html>
<html>
<body>

<h1><%= title %></h1>

<ul>
    <% params.forEach(function(param){ %>
    <li><a href="/entity?iri=<%= encodeURIComponent(param.iri) %>"><%= param.label %></a></li>
    <% }); %>
</ul>

</body>
</html>
